.interviewstep {
  padding-top: 10px;
  font-size: 20px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 300px;
  height: fit-content;
  min-height: 180px;
  align-items: center;
}